<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Students</h1>
    <table>
		<tr>
		    <th>Name</th>
		    <th>Email</th>
		</tr>  
    	<tr th:each = "book : ${books}">
    		<td th:text="${book.title} + ' ' + ${book.author} + ' ' + ${book.year} + ' ' + ${book.isbn} + ' ' + ${book.price}+ ' ' + ${book.category.name}"></td>
 				<td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
 				<td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>    		
    	</tr>
     </table>
	 <a href="/add">Add book</a>  
	 <br>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>  	
</body>
</html>