<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit student</h1>
	<div>
		<form th:object="${task}" th:action="@{../save}" action="#" method="post">
		<input type="hidden" id="id" th:field="*{id}"/>
		<table>
		<tr>
		<td>	
		
		  	<label for="title">Task</label></td>
		<td>
			<input type="text" id="title" th:field="*{title}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		</td>
		</tr>
		<tr>
		<td>
			<label for="desc">Description:</label></td>
		<td>
			<input type="text" id="desc" th:field="*{TaskDesc}"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			</td>
		</tr>
		<tr>
		<td> 
			<label for="duedate">DueDate</label></td>
    	<td><input type="text" id="duedate" th:field="*{TaskDueDate}"/>
    		<div style="clear: both; display: block; height: 10px;"></div></td>
    	</tr>
    	<tr>
    		<td><label for="createdate">Created:</label></td>
    		<td>
    		<input type="text" id="createdate" th:field="*{TaskCreateDate}"/>
    		<div style="clear: both; display: block; height: 10px;"></div></td>
    	</tr>
    	<tr>
    	<td>
    		<label for="creator">Created by:</label></td>
    		<td><input type="text" id="creator" th:field="*{TaskCreator}"/>
    		<div style="clear: both; display: block; height: 10px;"></div></td>
    	</tr>
    	<tr>
			<td><label for="catlist">Status</label></td>
			<td>
			 <select id="catlist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    		</select>
    		<div style="clear: both; display: block; height: 10px;"></div>
    		</td>
    	</tr>
    	<tr><td></td>
    		<td>
			<input type="submit" value="Save"></input>
			</td>
		</tr>
			</table>
		</form>
	</div>
</body>
</html>