<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>taskList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Tasks</h1>
	<sec:authorize access="hasRole('USER')">
	Text visible to admin.
	</div>
    <table>
		<tr>
		    <th>Task</th>
		    <th>Description</th>
		    <th>Due Date</th>
		    <th>Created</th>
		    <th>Creator</th>
		    <th>Status</th>
		    <th>Delete</th>
		    <th>Update</th>
		</tr>  
    	<tr th:each = "task : ${tasks}">
    		<td th:text="${task.title}"></td>
    		<td th:text="${task.TaskDesc}"></td> 
    		<td th:text="${task.TaskDueDate}"></td>
    		<td th:text="${task.TaskCreateDate}"></td>
    		<td th:text="${task.TaskCreator}"></td>
    		<td th:text="${task.category.name}"></td>
    		<td><a th:href="@{/delete/{id}(id=${task.id})}">Delete</a></td>
 			<td><a th:href="@{/edit/{id}(id=${task.id})}">Update</a></td>   
    	</tr>
     </table>
     
	 <a href="/add">Add task</a>  
	 <br>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>  	
</body>
</html>